html {
    overflow: hidden;
    height: 100%;
}

body {
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    overflow: auto;
    font-family: 'Roboto Slab', serif;
}

.alertStyle {
    top:2%;
    right:2%;
    position:fixed;
    padding:1% 5% 1% 5%;
    z-index:999;
}

h1,h2,h3,h4,h5 {
  font-family: 'Roboto Slab', serif;
}

.orangeTitle {
    color:#FF6A00;
}

.redTitle {
    color: #E80046;
}

.greySubTitle {
    color: rgba(255,255,255,0.5);
}

.greyExperience {
    color: rgba(255,255,255,0.8);
}

.card {
    width:400px;
    background-color:rgba(0,0,0,0.2);
    color: rgba(255,255,255,0.3);
}

.fullView {
    width: 100%;
    height: 100%;
}

#aboutme {
  color: white;
  margin: 15% 15% 0 0;
}

#aboutme2 {
  color: white;
  margin: 0 15% 0 0;
}
.verticalCenter {
    margin-top: 20%;
}

.visib {
visibility: hidden;
}